<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComputerComplectorAdministrativeTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ComputerComplectorAdministrativeTool.Properties.Settings>
            <setting name="APIURIString" serializeAs="String">
                <value>https://localhost:44346</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="AuthentificationRequestFormat" serializeAs="String">
                <value>{0}/users</value>
            </setting>
            <setting name="RememberLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="IV" serializeAs="String">
                <value />
            </setting>
            <setting name="ComponentsRequestFormat" serializeAs="String">
                <value>{0}/api/components</value>
            </setting>
            <setting name="StatisticsRequestFormat" serializeAs="String">
                <value>{0}/api/statistics</value>
            </setting>
        </ComputerComplectorAdministrativeTool.Properties.Settings>
    </userSettings>
</configuration>